:host {background-color: red !important;}

.time{
    width: 70%;
    float: right;
}

.calender{
    width: 23%;
    float: left;
}
.time-slot {
    margin: 10px;
    width: 9rem;
}

div {
    margin: 11px;
}

.btn-header {
    float: right;
    margin: 14px;
    color: blue;
    border-radius: 22px;
    width: 11rem;
  }

.link {
    color: #88858a;
}

.header {
    height: 2rem;
    padding: 0px;
}